* {
    margin: 0;
    padding: 0;
}

body, html {
    overflow:hidden;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

canvas{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    outline: none;
    /*-webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
    -webkit-tap-highlight-color: transparent;
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    margin:0;
    padding:0;
}

body {
    overflow:hidden;
    /*background-color: #C0C0C0;*/
}

#headerContainer {
    width: 100%;
    height: 100%;
    text-align: center;
}


#slide {
    display: block;
    margin: 0 auto;
}



#play {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 36vh;
    overflow: hidden;

    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: #97c25a;
    z-index: 9999;

    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);

    transition: all ease .4s;
    cursor: pointer;
}

#play:hover {
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
}

#play:before {
    display: block;
    width: 0;
    height: 0;

    position: absolute;
    left: 29px;
    top: 21px;

    border-style: solid;
    border-width: 30px 0 30px 50px;
    border-color: transparent transparent transparent #ffffff;

    content: '';
}

#play.loading:before,
#play.loading:after {
    display: none;
}

#play.loading {
    background: url(../assets/preLoader.png) no-repeat center, #97c25a;
}

#play.playing {
    left: 10px;
    bottom: 10px;

    width: 30px;
    height: 30px;
    margin: 0;
}

#play.playing:after,
#play.playing:before {
    border: none;
    display: block;
    width: 5px;
    height: 17px;
    background: #fff;
    position: absolute;
    top: 7px;
    left: 9px;
    content: '';

    transition: all ease .3s;
}

#play.playing:after {
    left: 17px;
}



@media (orientation: landscape) {

    #slide {
        height: 100%;
        width: auto;
    }

}

@media (orientation: portrait) {
    #slide {
        height: auto;
        width: 100%;
    }
}