#stageContainer {
    /*overflow: hidden;*/
}

.CN__area {
    white-space: nowrap;
    position: relative;
}

.CN__col {
    display: inline-block;
    vertical-align: top;
    white-space: normal;

    padding: 0 55px;
    box-sizing: border-box;

    position: relative;
    z-index: 1;
}

.mobile-mode .CN__col {
    padding: 0 75px;
}

.CN__col:first-child {
    padding-left: 0;
}
.CN__col:last-child {
    padding-right: 0;
}

.CN__col-title {
    min-height: 20px;
    background: #97c25a;
}

.CN__col-vars-wrapper {
    background: #dcebd1;
}

.CN__col-vars-wrapper:before {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: '';
}

.CN__col-vars {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.CN__col-var {
    position: relative;
    padding: 10px;
    margin-top: 5px;

    font: 17px Arial;
    text-align: center;
}

.CN__col-var_txt:hover {
    background: rgba(255,255,255,.4);
}

.mobile-mode .CN__col-var_txt:hover {
    background: none;
}

.CN__col-var img {
    display: inline-block;
    max-width: 90%;
    cursor: pointer;
}

.CN__from, .CN__to {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.mobile-mode .CN__from,
.mobile-mode .CN__to {
    width: 50px;
    height: 50px;
    margin-top: -25px;
}

.CN__from:after,
.CN__to:after {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    position: absolute;
    left: 4px;
    top: 4px;

    content: '';
}

.mobile-mode .CN__from:after,
.mobile-mode .CN__to:after {
    width: 40px;
    height: 40px;
}

.CN__from.connected:after,
.CN__to.connected:after {
    background: #80D0DE;
}

.CN__from.correct_int:after,
.CN__to.correct_int:after {
    background: green;
}
.CN__from.hover:after,
.CN__to.hover:after,
.CN__from.connected_int:after,
.CN__to.connected_int:after {
    background: #80D0DE;
}

.CN__from.error_int:after,
.CN__to.error_int:after {
    background: red;
}

.CN__from {
    left: -33px;
}
.mobile-mode .CN__from {
    left: -53px;
}

.CN__to {
    right: -33px;
}

.mobile-mode .CN__to {
    right: -53px;
}

.CN__canvas {
    display: block;
    position: absolute;
    left: 0;
    top: 0;

    z-index: 0;
}