/*Цветовая схема*/

td input {
	background-color: #d1e7b2;
	border: 1px solid #97c25a;
}

.active,
.clues-active {
	background-color: #97c25a;
}

#puzzle-clues li .clue-hint {
	background: #97c25a;
}


html, body {
	overflow: auto !important;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;
	margin: 0 auto;
}
table tr{
	width: 100%;
}
table td {
	width: 2.6em;
	border: 1px solid transparent;
	padding: 0;
	margin: 0;
	position: relative;
}

td input {
	width: 100%;
	height: 100%;
	padding: 0;
	text-align: center;
	font-size: 1.8em;
	color: #666;
	box-sizing: border-box;
}

td input:focus {
	background-color: #ddd;
}

td span {
	color: #444;
	font-size: 0.8em;
	position: absolute;
	top: -1px;
	left: 1px;
}

input.done {
	font-weight: bold;
	color: green;
}


.clue-done {
	color: #999;
	text-decoration: line-through;
}

#puzzle-wrapper {
	margin: 0 auto;
	width: 48%;
	float: left;
	padding: 0 1em;
}

#puzzle-clues {
	float: right;
	width: 48%;
	font: 20px Arial;
}

#puzzle-wrapper span {
	margin-top: 2px;
	padding-bottom: 2px;
	font-size: 1em;
}



#puzzle-clues li{
	font-size: 1.0em;
	margin: .3em;
	list-style-type: none;
	padding-left: 0px;
	margin-left: -40px;

	position: relative;
}

#puzzle-clues li .clue-hint {
	display: none;
	width: 10px;
	height: 10px;
	line-height: 11px;
	padding: 5px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	margin-right: 3px;
	position: absolute;
	left: -24px;
	top: -2px;

	cursor: pointer;
	font-size: 0.75em;
}

#puzzle-clues li.clues-active .clue-hint {
	display: block;
}

h2 {margin: 0; padding: 0;}

.horizont {
	width: 40%;
	margin-bottom: -1.1em;
}

.vertical {
	margin: 0;
	width: 40%;
	float: left;
}


#across {display: inline-block; width: 45%; float: left; margin-top: 1.7em; padding-right: 25px;}

#down {display: inline-block; width: 45%;}

#across li {width: 100%;}

#down li {width: 100%;}

.answer {
	width: 100%;
	clear: both;
	display: block;
	margin-top: 1em;
}

.cross-error {
	background-color: red !important;
}

/*Медиа скрины*/

/*1543*/

	@media screen and (max-width: 1543px) {

		#across {width: 100%; float: none;}

		#down {width: 100%; margin-top: 0px;}

		#puzzle-wrapper {
			width: 56%;
		}

		#puzzle-clues {
			width: 40%;
		}

.horizont {
	width: 90%;
}

.vertical {
	width: 90%;
}

		
	}

/*1024*/

@media screen and (max-width: 1024px) {

	table td {
		width: 2em;
	}

	td input {
		font-size: 1.4em;
	}

	#puzzle-wrapper {
		margin: 0 auto;
		width: 730px;
		float: none;
		padding: 0;
	}

	#puzzle-clues {
		float: none;
		width: 100%;
		margin-left: 24px;
	}

	#across {display: inline-block; width: 45%; float: left; margin-top: 1.7em; padding-right: 10px; padding-left: 2.2em;}

	#down {display: inline-block; width: 45%; margin-top: 0;  padding-left: 0.9em;}

.horizont {
	width: 47%;
}

.vertical {
	width: 30%;
}

}


