.GEO__theme-icontitle {
    margin: 0 auto;
}

.GEO__theme-upper-content {
    margin: 0 auto;
    /*max-width: 1020px;*/
    padding-top: 52px;
    position: relative;
}

.GEO__theme-content {
    position: relative;
    margin: 0 auto;
    /*max-width: 1020px;*/
}


.GEO__common-item.GEO__theme-item {
    box-sizing: border-box;
    padding-bottom: 56px;
    height: auto;
    min-height: 150px;
    margin: 0 0 20px;
}

@media (min-width: 768px){

    .GEO__theme-icontitle {
        width: auto;
    }

    .GEO__theme-upper-content .GEO__breadcrumbs {
        left: 0;
    }
}

@media (min-width: 1024px){
    .GEO__theme-upper-content .GEO__breadcrumbs {
        left: 0;
    }
    .GEO__theme-content {
        /*width: 1020px !important;*/
    }
}