html, body {
    min-height: 100%;
    background: #897966;
    overflow: auto;
}

.fullscreen {
    overflow: hidden;
}

.no-outer {
    margin: 0 !important;
    padding: 0 !important;
}

.no-va:before {
    display: none !important;
}

.GEO__common  {
    background: url(../images/bg/main-bg.png) no-repeat center -139px, url(../images/bg/main-bg-2.png) repeat;
    min-height: 100%;
}

.GEO__common-title {
    padding: 13px 20px 18px 20px;
    background: rgba(188,168,140, .65);
    font: 700 italic 36px/1 Cambria;
    text-align: center;
}

.GEO__common-icontitle .GEO__common-title-text {
    display: inline-block;
    vertical-align: middle;
}

.GEO__common-icontitle .GEO__common-title-text .GEO__common-title-sub {
    display: block;
    width: 95%;
    margin: 0 auto;
    font-size: 19px;
    padding-top: 3px;
}

.GEO__common-icontitle {

}

.GEO__common-icontitle .GEO__common-icontitle-image {
    width: 69px;
    height: 69px;
    display: inline-block;
    vertical-align: middle;

    margin: 0 10px;

    border-radius: 50%;
    overflow: hidden;

    position: relative;
}

.GEO__common-icontitle .GEO__common-icontitle-image:after {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    position: absolute;
    left: 0;
    top: 0;

    -webkit-box-shadow: inset -2px 10px 13px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -2px 10px 13px -9px rgba(0,0,0,0.75);
    box-shadow: inset -2px 10px 13px -9px rgba(0,0,0,0.75);

    z-index: 2;
    content: '';
}

.GEO__common-icontitle .GEO__common-icontitle-image img {
    display: block;
    width: 100%;

    position: relative;
    z-index: 1;
}

.GEO__common-subtitle {
    margin-bottom: 21px;
    padding: 13px;
    border-radius: 5px;

    font: 13px 'Open Sans';
    color: #000;
}

.GEO__common-goback {
    display: none;
    height: 30px;
    padding: 26px 0 0;
    background: url(../images/ico/ico-goback.png) no-repeat top center/26px 26px;
    position: absolute;
    top: 27px;
    right: 30px;
    font: 700 15px 'Open Sans';
    text-transform: capitalize;
    cursor: pointer;
}

.GEO__common-content {
    width: 100%;
    padding-top: 38px;
    text-align: center;

    position: relative;
}

.GEO__common-content * {
    text-align: left;
}

.GEO__common-content:after {
    display: block;
    clear: both;
    content: '';
}

.GEO__section-item-image {
    display: block;
    position: absolute;
    z-index: 1;
}


.GEO__common-item {
    display: inline-block;
    vertical-align: top;

    width: 300px;
    height: 187px;
    margin: 0 auto 24px;

    border-radius: 3px;

    position: relative;
}

.GEO__item-buttons {
    height: 44px;

    position: absolute;
    bottom: 12px;
    right: 14px;
    left: 14px;

    text-align: right;

    z-index: 3;
}

.GEO__item-button {
    display: inline-block;
    vertical-align: top;

    width: 44px;
    height: 44px;

    box-sizing: border-box;
    border: 1px solid #7e7754;
    border-radius: 5px;

    background: #fff9b2 no-repeat center;
    cursor: pointer;
}

.GEO__item-button_text {
    background-image: url(../images/ico/ico-nav.png);
}

.GEO__item-button_task {
    background-image: url(../images/ico/ico-task.png);
}

.GEO__item-button_task.GEO__section-item-button_task-ready {
    background-image: url(../images/ico/ico-task-ok.png);
}

.GEO__item-button_test {
    background-image: url(../images/ico/ico-quiz.png);
}

.GEO__common-text-wrapper {
    background: rgba(188,168,140, .65);
    display: none;
}

.GEO__common-text {
    padding: 48px 20px 35px;
    font: 21px 'Open Sans';
}

.GEO__common-text p {
    margin-bottom: 15px;
}

.GEO__breadcrumbs {
    position: absolute;
    left: 16px;
    right: 16px;
    top: 20px;
    text-align: center;
}

.GEO__breadcrumbs-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 5px 10px;

    font: 16px/1 'Open Sans';
    color: #a89881;
    text-decoration: underline;
}
.GEO__breadcrumbs-item:active {
    outline: none;
}

.GEO__breadcrumbs-item_current {
    text-decoration: none;
    color: #e6d3b7;
    font-weight: 700;
}

@media (min-width: 540px){
    .GEO__common-item {
        margin: 0 13px 24px;
    }
}

@media (min-width: 768px){

    .GEO__common-icontitle .GEO__common-goback {
        display: block;
    }

    .GEO__breadcrumbs {
        text-align: left;
    }

    .GEO__breadcrumbs-item {
        margin: 0 21px 5px 0;
    }

    .GEO__common-icontitle {
        width: 655px;
        margin: 0 auto;
    }


    .GEO__common-content,
    .GEO__common-text {
        width: 660px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .GEO__common-text {
        padding: 38px 12px 75px;
    }
}

@media (min-width: 1024px){

    .GEO__common-icontitle {
        width: 979px;
        text-align: left;
        white-space: nowrap;
    }

    .GEO__common-title-text {
        padding-right: 100px;
        white-space: normal;
    }

    .GEO__common-icontitle .GEO__common-title-text .GEO__common-title-sub {
        margin: 0;
        width: auto;
    }

    .GEO__common-text {
        padding: 28px 0 25px;
        width: 955px;
    }

    .GEO__breadcrumbs {
        left: 31px;
        right: 31px;
    }
}

@media (min-width: 1280px){

    .GEO__common_fit {
        min-height: 0;
    }

    .GEO__common-text-wrapper {
        display: block;
    }
}

