.GEO__item_rus {
    background: #f6dc87;
    background: -moz-linear-gradient(-45deg,  #f6dc87 0%, #f3a74d 100%);
    background: -webkit-linear-gradient(-45deg,  #f6dc87 0%,#f3a74d 100%);
    background: linear-gradient(135deg,  #f6dc87 0%,#f3a74d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6dc87', endColorstr='#f3a74d',GradientType=1 );
}

.GEO__article-title_rus {
    background: url(../images/els/rus-article.png) no-repeat top right,
    url(../images/els/rus-article-repeat.png) repeat-y top right, #ead798;
}