/*Стили вписывания*/

.interaktiv_spisok {
	display: table-cell;
	vertical-align: middle;
}

.interaktiv_spisok p {
	line-height: 1.75em;
}

.spisok {
	height:1.5em;
	font: 1em Arial;
	padding-left:0.3em;
	border: 2px solid #888;
	border-radius: 5px;
	padding-bottom: 1px;
}

/*.center {margin: 0 auto; margin-top: 2em;  border-spacing: 1em 0;}*/

.input_error {border: 2px solid #d34227 !important;}

.input_ready {border: 2px solid #60bc57 !important;}

/*Картинка, если надо*/

img {
	width: 300px;
	display: block;
	margin: 0 auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	cursor: pointer;
}