.CP__player {
    display: block;
    width: 100%;
    height: 77px;
    border-radius: 5px 5px 0 0;

    background: #2DCC70;

    position: fixed;
    z-index: 4;
    left: 0;
    bottom: -77px;

    text-align:center;

    transition: bottom ease .5s;
}

.CP__player-wrap {
    position: relative;
    width: 90%;
    padding-top: 10px;
    margin: 0 auto;
}

.CP__progressbar {
    display: block;
    width: 100%;
    height: 10px;
    border-radius: 4px;
    background: #fff;

    margin: 0 auto 10px;

    cursor: pointer;
}

.CP__progressbar-fill {
    height: 10px;
    width: 0;
    border-radius: 4px;
    background: #354760;

    transition: width linear .3s;
}

.CP__play, .CP__pause, .CP__mute {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    background: red;

    cursor: pointer;
}

.CP__play {

}
.CP__pause {

}

.CP__mute {
    float: right;
}

.CP__name {
    display: block;
    float: left;
    font: 22px/1 Arial;
    padding: 5px 0 0 10px;
}

.CP__hide, .CP__close {
    position: absolute;
    width: 20px;
    height: 10px;
    background: red;

    right: 0;
    top: 0;

    cursor: pointer;
}
.CP__hide {
    right: 22px;
}